<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_front') }}"><span class="badge fs-4 p-2">Accueil</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Page d'un article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Page d'ajout d'article</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('app_subscribe') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>          
            </ul>
        </div>
    </div>
</nav>